<%= render partial: 'patient/sideNav'%>
<script type="text/javascript">
    $(document).ready(function() {

            $('select').material_select();
            $('.modal').modal();
        $('#submit').click(function(){
          /* when the submit button in the modal is clicked, submit the form */
            $('#cancelAppointment').submit();
        });
        });
</script>

<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 10000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

  <% end %>
  <div class="container">

    <div class="row">
      <form class="col s12 m12 l12" id="cancelAppointment" action="" method="post">
        <input type="hidden" name="_method" value="patch" />
        <h4>Appointment</h4>


        <div class="divider"></div><br>
        <div class="row">
          <div class="col s12">
            <table class="highlight responsive-table">
              <tbody>
              <% @appointments.each do |d| %>
              <tr>
                <th data-field="time">Date</th>
                <td><%= d.app_date %></td>
              </tr>

              <tr>
                <th data-field="time">Time Slot</th>
                <td><%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %></td>
              </tr>

              <tr>
                <th data-field="time">Doctor Name</th>
                <td><%= d.first_name + " " + d.last_name %></td>
              </tr>
                  <tr>
                    <th data-field="time">Status</th>
                    <% if d.status == true %>
                        <td><span class="task-cat green accent-4" style="border-radius: 2em; padding: 5px; "><%= "Scheduled" %></span></td>
                    <% else %>
                        <td><span class="task-cat pink lighten-1" style="border-radius: 2em; padding: 5px; "><%= "Cancelled" %></span></td>
                    <% end %>
                  </tr>

                  <tr>

                    <% if d.status == true && d.app_date.past? == false && d.app_date.today? == false %>
                        <th data-field="time">Action</th>
                        <td><button class="btn-floating waves-effect waves-light btn tooltipped" data-target="confirmModal"  data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment" id="confirmModal" type="button" style="background-color: red"><i class="material-icons prefix">close</i></button></td>
                    <% else %>

                    <% end %>
                  </tr>

                  <div id="confirmModal" class="modal">
                    <div class="modal-content">
                      <h4>Cancel Appointment</h4>
                      <p>Are you sure you want to cancel the appointment on <%= d.app_date %> for the <%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %> slot?</p>
                    </div>
                    <div class="modal-footer">
                      <button class="modal-action modal-close darken-3 btn-flat waves-effect waves-light" formaction="/appointment/delete/<%= @patient.id %>/<%= d.app_id %>" type="sumit" id="submit">Confirm</button>
                    </div>
                  </div>

            <% end %>
                        </tbody>
                      </table>
                  </div>

        </div>

        <br/>
        <div class="row">
            <div class="col s3">
            <a class="btn waves-effect waves-light" href="/patient/appointments/<%= @patient.id %>">Back</a>

          </div>
        </div>


        <div class="row">
          <div class="col s12">
          </div>
        </div>
      </form>
    </div>
  </div>

</main>