
  <script type="text/javascript">
      $(document).ready(function() {

          $('.scrollspy').scrollSpy();

          $('.modal').modal();

          $('.datepicker').pickadate(
              {
                  selectYears: 100,
                  selectMonths: true,
                  max: new Date(),
                  closeOnSelect: true,
                  onSet: function (ele) {
                      if (ele.select) {
                          this.close();
                      }
                  }
              });
      });

  </script>
  <%= render partial: 'staff/sideNav', :locals => { :staff_id => params[:id] } %>


<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 10000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

  <% end %>

  <% if @patient.present? && @patient.errors.any? %>
      <div class="error_explanation"  style="border-radius: 0.5em; padding: 1px; padding-left: 50px">
        <p>
          <%= pluralize((@patient.errors.count.to_i), "error") %> prohibited
          from registering as a valid patient:
        </p>
        <ul>
          <% if (@patient.present? && @patient.errors.any?) %>
              <% @patient.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          <% end %>

        </ul>
      </div>
  <% end %>


    <div class="" style="width:100%;">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <form class="card z-depth-1" action="/patient/add/new/<%= @staff.id %>" method="post" style="top: 15px ">


              <div class="card-content">
                <span class="card-title">Register A Non-user(Patient)</span>

                <input id="role" type="hidden" name= "session[role]" value="1">
                <div class="section">

                  <div id="personal"  class="section scrollspy">
                    <div class="row">

                      <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="full_name" type="text" name="session[full_name]" value="<%= params[:session].present? ? params[:session][:full_name] : nil %>" class="validate" required>
                        <label class="active" for="full_name" >Full Name</label>
                      </div>


                    </div>
                    <div class="row">

                      <div class="input-field col s12 m6 l4">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" name="session[first_name]" value="<%= params[:session].present? ? params[:session][:first_name] : nil %>"  class="validate" required>
                        <label class="active" for="first_name" >First Name</label>
                      </div>

                      <div class="input-field col s12 m6 l4">
                        <input id="middle_name" type="text" name="session[middle_name]" value="<%= params[:session].present? ? params[:session][:middle_name] : nil %>"  class="validate">
                        <label class="active" for="middle_name" >Middle Name</label>
                      </div>

                      <div class="input-field col s12 m6 l4">
                        <input id="last_name" type="text" name="session[last_name]" value="<%= params[:session].present? ? params[:session][:last_name] : nil %>"  class="validate" required>
                        <label class="active" for="last_name">Last Name</label>
                      </div>

                    </div>



                    <div class="row">
                      <div class="col s12">
                        <i class="material-icons prefix">wc</i>
                        <div class="col s12">
                          <div class="col s6 left aligned">
                            <input class = 'with-gap' name="session[gender]" value="0" type="radio" id="male" checked="checked" />
                            <label for="male">Male</label>
                          </div>
                          <div class="col s6 left aligned">
                            <input class = 'with-gap' name="session[gender]" value="1" type="radio" id="female" />
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br>


                    <div class="row">

                      <div class="input-field col s12 l5">
                        <i class="material-icons prefix">today</i>

                        <input id="date_of_birth" value="" type="date" name="session[date_of_birth]" value="<%= params[:session].present? ? params[:session][:date_of_birth] : nil %>" class="datepicker" required>
                        <label class="active" for="date_of_birth">Date of Birth</label>
                      </div>
                    </div>


                  </div>
                  <div class="divider"></div>

                  <div id="contact"  class="section scrollspy">
                    <div class="row">
                      <div class="input-field col s12 l5">
                        <i class="material-icons prefix">phone</i>
                        <input id="telephone" type="tel" name="session[telephone]"  class="validate" value="<%= params[:session].present? ? params[:session][:telephone] : nil %>"  required>
                        <label class="active" for="telephone">Telephone</label>
                      </div>
                    </div>

                  </div>


                    <div class="divider"></div>

                    <br />
                    <div class="col s12 m3">
                      <button class="btn waves-effect waves-light col s12" type="Submit" id="submit" >Register</button>

                    </div>
                <br>
                </div>

                  </div>


                </div>
              </div>

            </form>




          </div>

    </div>

</main>


