<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h5>Hi, <%= @a.full_name %>!</h5>
<p>
 One(1) appointment slot for <%= @timeslot.app_date %> from <%= @timeslot.from_time.strftime("%I:%M %p") %> to <%= @timeslot.to_time.strftime("%I:%M %p") %> for Dr. <%= @doctor.first_name + " " + @doctor.last_name %> is now available.

</p>
<p>
  You are being notified since you registered in the waiting list for it.
</p>
<br>
<p>
  You can add an appointment by visiting <%= link_to "here", @url %>.
</p>

<br>

</body>
</html>