<%= render partial: 'patient/sideNav'%>
<script type="text/javascript">
    $(document).ready(function(){
        $('#submit1').click(function(){
          /* when the submit button in the modal is clicked, submit the form */
            $('#searchApp').submit();
        });
        $('#submit2').click(function(){
          /* when the submit button in the modal is clicked, submit the form */
            $('#addAppointment').submit();
        });
        });
</script>
<main style="padding-left: 240px">


  <% if @app.present? && @app.errors.any? %>
      <div class="error_explanation" style="border-radius: 0.5em; padding: 1px; padding-left: 50px">
        <p>
          <%= pluralize(@app.errors.count, "error") %> prohibited from updating vital details:
        </p>
        <ul>
          <% @app.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="container">

    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="row">
      <form class="col s12 m12 l12" id="searchApp" action="/appointment/search/<%= @patient.id %>" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <h4>Search Appointment</h4>


        <div class="divider"></div><br>



        <div class="row">
          <div class="col s12">
            <i class="material-icons prefix">search</i>Search
            <div class="input-field inline">
              <div class="col s12 left aligned">
                <input class="with-gap" name="app[d]" value="0" type="radio" id="doctor" />
                <label for="doctor">Doctor</label>
              </div>
              <div class="col s12 left aligned">
                <input class="with-gap" name="app[d]" value="1" type="radio" id="appType" />
                <label for="appType">Appointment Type</label>
              </div>
              <div class="col s12 left aligned">
                <input class="with-gap" name="app[d]" value="2" type="radio" id="appDate" />
                <label for="appDate">Date</label>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s10">
            <div class="input-field" id="doctorSelect">
              <select name="app[doctor_id]" id="doc_select">

                <% @doctor_name.each do |d| %>
                    <option value="<%= d.id %>"><%= d.full_name %></option>
                <% end %>
              </select>


              <label>Doctor</label>
            </div>
          </div>

          <div class="col s10">
            <div class="input-field" id="appTypeSelect">
              <select name="app[app_type_id]" id="app_select">

                <% @doctor_types.each do |d| %>
                    <option value="<%= d.id %>"><%= d.speciality %></option>
                <% end %>
              </select>
              <label>Appointment Type</label>
            </div>
          </div>


          <div class="input-field col s3 l4" id="dateSelect">
            <i class="material-icons prefix">date_range</i>
            <label class="active" for="from_date">Date</label>
            <input id="from_date" type="date" name="app[from_date]"  class="datepicker">
          </div>


        </div>


        <div class="row">
          <div class="col m2">
            <p class="right-align"><button class="btn waves-effect waves-light" id="submit1" type="submit">Search</button></p>
          </div>

        </div>
        <br/>
        <% flash.each do |key, value| %>

            <% if key=="success" %>
                <div id="toast-container">
                <script>
                    $(function() {
                        Materialize.toast("<%= value %>", 15000,'green');
                    });
                </script>
                  </div>
            <% elsif key=="error"%>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% else %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>

        <% end %>
      </form>

          </div>
        </div>
      </div>

      <br/>
      <div class="divider"></div>
      <br/>

      <% if defined? @timeslots %>
          <% if @timeslots.blank? == false %>
              <div class="card">
                <div class="card-content">
                  <div class="row">
                <form class="col s12 m12 l12" id="addAppointment" action="" method="post">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

                  <p><strong>Search Field:</strong>  <%= @name.present? ? @name : nil %></p>
                  <div class="col s12">
                    <table class="bordered highlight responsive-table">
                      <thead>
                      <tr>
                        <th data-field="id">Date</th>
                        <th data-field="name">Time Block</th>
                        <th data-field="price">Doctor</th>
                        <th data-field="price">Speciality</th>
                        <th>Amount</th>

                      </tr>
                      </thead>

                      <tbody>
                      <% @timeslots.each do |d| %>
                          <tr>

                            <td><%= d.app_date %></td>
                            <td><%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %></td>

                            <% @doctor_name.each do |n| %>
                                <% if d.doctor_id == n.id %>
                                    <td><%= "Dr. " + n.full_name %></td>

                                    <% @doctor_types.each do |t| %>
                                        <% if t.id == n.doctor_type_id %>
                                            <td><%= t.speciality %></td>
                                        <% end %>
                                    <% end %>

                                <% end %>
                            <% end %>
                            <td><%= number_to_currency(d.price, :unit => "Rs.") %></td>
                            <% if @existing_app.each.include? d.id %>

                                <td><%= "Scheduled" %></td>
                            <% else %>
                                <% if ((d.to_time - d.from_time)/15.minutes).to_i > (@appointments[d.id].blank? ? 0 : @appointments[d.id]) %>
                                    <td><button class="green darken-3 btn-floating waves-effect waves-light btn tooltipped" data-target="confirmApp/<%= d.id %>" data-position="bottom" data-delay="50" data-tooltip="Add appointment" id="addAppointment" type="button"><i class="material-icons prefix">add</i></button></td>
                                <% else %>
                                    <td><button class="pink darken-3 btn-floating waves-effect waves-light btn tooltipped" data-target="confirmList/<%= d.id %>" data-position="bottom" data-delay="50" data-tooltip="Add to waiting list"  id="addToList" type="button" name="action"><i class="material-icons prefix">add</i></button></td>

                                <% end %>

                            <% end %>

                          </tr>

                          <div id="confirmApp/<%= d.id %>" class="modal">
                            <div class="modal-content">
                              <h4>Add Appointment</h4>
                              <p>Are you sure you want to add an appointment on <%= d.app_date %> for the <%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %> slot?</p>
                              <p> Amount Payable : <%= number_to_currency(d.price, :unit => "Rs.") %> </p>
                            </div>
                            <div class="modal-footer">
                              <button class="modal-action modal-close darken-3 btn-flat waves-effect waves-light" formaction="/appointment/add/<%= @patient.id %>/<%= d.id %>" id="submit2" type="submit2">Confirm & Proceed to Pay</button>
                            </div>
                          </div>

                          <div id="confirmList/<%= d.id %>" class="modal">
                            <div class="modal-content">
                              <h4>Add to Waiting List</h4>
                              <p>Are you sure you want to add to waiting list on <%= d.app_date %> for the <%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %> slot?</p>
                            </div>
                            <div class="modal-footer">
                              <button class="modal-action modal-close darken-3 btn-flat waves-effect waves-light" formaction ="/waitinglist/add/<%= @patient.id %>/<%= d.id %>" id="submit2" type="submit">Confirm</button>
                            </div>
                          </div>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
                </div>
              </div>

          <% else %>
              <p>

              </p>
          <% end %>


      <% end %>






    </div>

  </div>

  <script type="text/javascript">
      $(document).on('turbolinks:load', function(){
          $('#doctorSelect').hide();
          $('#appTypeSelect').hide();
          $('#dateSelect').hide();

          $('select').material_select();
          $('.modal').modal();
          //$('select').material_select('destroy');

          $('.scrollspy').scrollSpy();
          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year

              min: new Date(),
              format: 'yyyy-mm-dd',
              closeOnSelect: true,
              onSet: function (ele) {
                  if (ele.select) {
                      this.close();
                  }
              }
          });

          $('input[type="radio"]').click(function() {
              if($(this).attr('id') == 'doctor') {
                  $('#doctorSelect').show();
                  $('#appTypeSelect').hide();
                  $('#dateSelect').hide();
                  $('#from_date').removeAttr('required');

              }
              else{
                  if($(this).attr('id') == 'appType') {
                      $('#doctorSelect').hide();
                      $('#appTypeSelect').show();
                      $('#dateSelect').hide();
                      $('#from_date').removeAttr('required');
                  }
                  else{
                      if($(this).attr('id') == 'appDate') {
                          $('#doctorSelect').hide();
                          $('#appTypeSelect').hide();
                          $('#dateSelect').show();
                          $('#from_date').attr('required', true);
                      }
                  }
              }
          });
      });





  </script>

</main>