<%= render partial: 'doctor/sideNav'%>

<main style="padding-left: 240px"><div class="container " style="width: 85%">
    <div class="row">
      <form class="col s12 m12 l12" action="/view/appointments" method="post">
        <h4>View Appointments</h4>


        <div class="divider"></div><br>

        <div class="row">
          <div class="row">
            <div class="input-field col s3 l4" id="dateSelect">
              <i class="material-icons prefix">date_range</i>
              <label class="active" for="date">Date</label>
              <input id="date" type="date" name="app[date]"  class="datepicker">
            </div>

          <div class="col m2">
            <p class="right-align"><button class="btn waves-effect waves-light" type="submit">Search</button></p>
          </div>

        </div>
      </div>
      </form>


      <div>
        <% if defined? @appointments %>
            <% if @appointments.blank? == false %>
        <div class="row">
          <div class="col s12">

            <table class="bordered highlight responsive-table">
              <thead>
              <tr>
                <th data-field="time">Date</th>
                <th data-field="name">Time Slot</th>
                <th data-field="action">Patient</th>
                <th data-field="action">Patient Type</th>
              </tr>
              </thead>

              <tbody>

              <% @appointments.each do |d| %>
              <tr>
                <td><%= d.app_date %></td>
                <td><%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %></td>
                <td><a href="/vital/<%= d.patient_id %>">View Patient Profile</a></td>
                <% if d.registered == false %>
                <td>Non Registered</td>
                <% else %>
                <td>Registered</td>
                <% end %>
              </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
            <% else %>
            <p>You have no appointments for <%= @date %> </p>
            <% end %>
        <% end %>
      </div>

      <div id="confirmModal" class="modal">
        <div class="modal-content">
          <h4>Cancel Appointment</h4>
          <p>This action is irreversible. Are you sure you want to cancel this appointment?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function() {

          $('select').material_select();
          $('.modal').modal();

          $('.scrollspy').scrollSpy();
          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              format: 'yyyy-mm-dd',
              closeOnSelect: true,
              onSet: function (ele) {
                  if (ele.select) {
                      this.close();
                  }
              }
          });
      });

  </script>
</main>
