<% if current_user && current_user.doctor? %>
<%= render partial: 'doctor/sideNav' %>
<% else %>
<%= render partial: 'patient/sideNav' %>
<% end %>

<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'amber');
              });
          </script>

      <% end %>

  <% end %>
  <div class="container " style="width: 85%">
  <div class="row">
    <h4>Vitals</h4>
    <div class="divider"></div>


    <div class="row">

      <br>
      <div class="row">


        <% if current_user.patient?  %>
            <div class="col s12 m8 offset-m2">
              <div class="card">

                <% if !@from_date.blank? %>
                    <div class="card-image waves-effect waves-block waves-light">
                      <%= render partial: 'patient/vitals_summary' %>
                    </div>
                <% end %>
              </div>
            </div>
        <% else  %>
            <div class="col s7">
              <div class="card">

                <% if !@from_date.blank? %>
                    <div class="card-image waves-effect waves-block waves-light">
                      <%= render partial: 'patient/vitals_summary' %>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>

        <% if current_user && current_user.doctor? %>
            <div class="col s12 m5">


              <div id="profile-card" class="card sticky z-depth-4" style="">
                <div class="card-image waves-effect waves-block waves-light" >
                  <br>

                  <%= image_tag("Heart_Beat.png", :alt => "user background") %>
                </div>

                <div class="card-content">
                  <a class="btn-floating activator btn-move-up waves-effect purple waves-light darken-2 right">
                    <i class="material-icons">account_circle</i></a>
                  <span class="card-title activator grey-text text-darken-4"><strong><%= @patient.first_name + " " + @patient.last_name %> </strong></span>

                  <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ?  "Female" : "Male" %></p>


                  <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>

                </div>
                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                  <span class="card-title grey-text text-darken-4"><%= @patient.first_name + " " + @patient.last_name %> <i class="mdi-navigation-close right"></i></span>
                  <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ?  "Female" : "Male" %></p>
                  <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>
                  <p><i class="material-icons prefix">email</i><%= @patient.email %></p>
                  <p><i class="material-icons prefix">phone</i><%= @patient.telephone %></p>

                </div>
              </div>

            </div>
        <% end %>
      </div>
<br/>
      <div class="divider"></div>

      <div class="card col s12 m8 offset-m2" >
<br>

        <h5>Vital Details</h5>
        <div class="divider"></div> <br/>
        <div class="row">

          <div class="col s6">

            <p for="datetime">Last Modified Date/Time</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.created_at.present? ? @vital.created_at.strftime("#{@vital.created_at.day.ordinalize} %B %Y") + ",  " +@vital.created_at.strftime("%I:%M %p") : "" %>
          </div>

        </div>

        <div class="row">

          <div class="col s6">

            <p for="doctor">Edited by</p>
          </div>

          <div class="input-field col s6">
            <%=  @vital.created_at.present? ? ("Dr. "+ @edit_doctor.first_name + " " + @edit_doctor.last_name) : ""  %>
          </div>

        </div>


        <div class="row">

          <div class="col s6">

            <p for="height">Height (cm)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.height %>

          </div>

        </div>


        <div class="row">

          <div class="col s6">

            <p>Weight (kg)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.weight %>

          </div>
        </div>

        <div class="row">

          <div class="col s6">

            <p>BMI</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.created_at.present? ? '%.2f' % (@vital.weight/(@vital.height/100)) : " " %>

          </div>

        </div>


        <div class="row">

          <div class="col s6">

            <p for="blood">Blood Group</p>
          </div>
          <div class="col s6">
            <p><%=  @vital.created_at.present? ?  @blood_groups.index(@vital.blood_group.to_i) : "" %></p>
          </div>
        </div>




        <div class="row">

          <div class="col s6">

            <p>Temperature (C)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.temp %>

          </div>

        </div>

        <div class="row">

          <div class="col s6">

            <p >Pulse (/min)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.pulse %>

          </div>

        </div>

        <div class="row">

          <div class="col s6">

            <p>Respiratory rate (/min)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.res_rate %>

          </div>

        </div>

        <div class="row">

          <div class="col s6">

            <p>Blood Pressure (/min)</p>
          </div>

          <div class="input-field col s6">
            <%= @vital.bld_pressure %>

          </div>

        </div>



       <div class="row">
         <br/><br/>
          <% if current_user && current_user.doctor? %>


             <div class="col s12 m9">
               <a class="btn waves-effect waves-light" href="/search/patients/<%= @doctor.id %>/<%= @patient.id %>">Back to Profile</a>
             </div>

             <div class="col s12 m3">
               <a class="btn waves-effect waves-light teal green"  href="/vital/edit/<%= @doctor.id %>/<%= @patient.id %>">Update Vitals</a>
             </div>

       <% end %>

        </div>


      </div>
    </div>


    <div id="save" class="modal">
      <div class="modal-content">
        <h4>Add Appointment</h4>
        <p>Are you sure you want to save?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
      </div>
    </div>

  </div>
</div>
</main>