<%= render partial: 'staff/sideNav'%>
<style>

</style>
<script>
    var getProperty = function (propertyName) {
        return data[propertyName];
    };

    $( document ).on('turbolinks:load', function() {
        var data={};
        var doctors = <%= @doctors.html_safe %>;
        //console.log(doctors);
        for (var i=0; i< doctors.length; i++){
            data[(doctors[i]["full_name"])] = doctors[i]["id"];
        };
        //console.log((data));


        $('input.autocomplete').autocomplete({
            data: data,
            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function(val) {
                $('#doctor_id').val(data[val]); //append the key here

            },
            minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
        });
    } );


</script>
<main style="padding-left: 240px">

  <div class="container " style="width: 85%">

    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="row">
      <form class="col s12 m12 l12" action="/search_appointment/<%= @staff.id %>" method="get">
        <h4>View Appointments</h4>


        <div class="divider"></div><br>

        <div class="row">

            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">textsms</i>
                <label class="active" for="tags">Doctor</label>
                <input id="tags" type="text" autocomplete="off" value="<%= @name.present? ? @name : nil %>" class="autocomplete" required/>
                <input id="doctor_id" name="doctor_id" value="<%= @doctor.present? ? @doctor : nil %>" type="hidden" required/>
              </div>
            </div>

              <div class="row">
            <div class="col m2">
              <p class="right-align"><button class="btn waves-effect waves-light" type="submit">Search</button></p>
            </div>
              </div>
        </div>



      </form>

        </div>
      </div>
    </div>
      <div>
        <br/>
        <div class="divider"></div>
        <br/>
        <% if defined? @appointments %>
            <% if @appointments.blank? == false %>

                <div class="card">
                  <div class="card-content">
                    <div class="row">
                  <div class="col s12">

                    <%= link_to '<button class="btn waves-effect waves-light float-left red" style="float: right;">Download PDF</button>'.html_safe,
                                "/staff/doctor/summary/#{@staff.id}/#{@doctor}",
                                target: "_blank" %>
<br/><br/><br/>
                    <table class="bordered highlight responsive-table">
                      <thead>
                      <tr>
                        <th data-field="time">Date</th>
                        <th data-field="name">Time Slot</th>
                        <th data-field="action">Patient</th>
                        <th data-field="action">Patient Type</th>
                        <th></th>
                      </tr>
                      </thead>

                      <tbody>

                      <% @appointments.each do |d| %>
                          <tr>
                            <td><%= d.app_date %></td>
                            <td><%= d.from_time.to_s(:time) + " - " + d.to_time.to_s(:time) %></td>
                            <td><%= d.first_name + " " + d.last_name %></a></td>
                            <% if d.registered == 1 %>
                                <td><span class="task-cat green lighten-1" style="border-radius: 2em; padding: 5px; "><%= "Registered" %></span></td>
                            <% else %>
                                <td><span class="task-cat amber lighten-1" style="border-radius: 2em; padding: 5px; "><%= "Non Registered" %></span></td>
                            <% end %>
                            <td><a href="/staff/appointments/summary/<%= @staff.id %>/<%= d.patient_id %>/<%= d.app_id %>">Summary</a></td>
                          </tr>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                </div>
                  </div>
                </div>
            <% else %>

            <% end %>

        <% end %>

      </div>


    </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <script type="text/javascript">
      $(document).ready(function() {

          $('select').material_select();
          $('.modal').modal();

          $('.scrollspy').scrollSpy();
          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              format: 'yyyy-mm-dd',
              closeOnSelect: true,
              onSet: function (ele) {
                  if (ele.select) {
                      this.close();
                  }
              }
          });
      });

  </script>
</main>
