<%= render partial: 'staff/sideNav', :locals => { :staff_id => params[:id] } %>


<main style="padding-left: 240px">
  <script type="text/javascript">
     $(document).ready(function(){
         var doctors = <%== @doctors %>;

          var data = doctors.map(function (a) {
                        return { label: a[0], id: a[1] };
                      });

          $( "#tags" ).autocomplete({
                delay: 0,
                source: data,
                select: function(event, ui) {
                    $('#doctor_id').val(ui.item.id);
                }
              });

      });
  </script>


  </script>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% if @time_slot.errors.any? %>
      <div class="error_explanation" style="padding-left: 50px">
        <p>
          <%= pluralize(@time_slot.errors.count, "error") %> prohibited
          from adding time slot:
        </p>
        <ul>
          <% @time_slot.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="container " style="width: 85%">
    <h4>Add Availability</h4>
    <div class="divider"></div><br>


    <div class="row">

      <div class="col s12" >
        <form class="card z-depth-2" action="/timeslot/add/<%= params[:id]%>" method="post" style="">
          <div class="card-content ">

          <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">textsms</i>
                    <label class="active" for="tags">Doctor </label>
                    <input id="tags" />
                    <input id="doctor_id" name="time_slot[doctor_id]" type="hidden" />
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <label class="active" for="date_from">Date</label>
                <input id="date" value="" type="date" name="time_slot[app_date]" class="datepicker">
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">schedule</i>
                <label class="active" for="from_time">From Time</label>
                <input type="time" name="time_slot[from_time]" class="timepicker">

              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">schedule</i>
                <label class="active" for="to_time">To Time</label>
                <input type="time" name="time_slot[to_time]" class="timepicker">
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">payment</i>
                <label class="active" for="price">Price</label>
                <input type="text" name="time_slot[price]" class="">

              </div>
            </div>

            <div class="divider"></div><br>
            <div class="row">

              <div class="col s3">
                <button class="btn waves-effect waves-light" type="Submit">Add Time Slot</button>
              </div>


            </div>





          </div>
        </form>
      </div>

    </div>
  </div>




  <script type="text/javascript">
      $(document).ready(function(){
          $('select').material_select();

          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              min: new Date(),
              closeOnSelect: true,
              onSet: function (ele) {
                  if (ele.select) {
                      this.close();
                  }
              }
          });

          $('.timepicker').timepicker({

              dynamic: false,
              dropdown: true,
              scrollbar: true,
              'minTime': '8:00am',
              'maxTime': '11:00pm'
          });
      });

  </script>
</main>

