<%= render partial: 'staff/sideNav', :locals => { :staff_id => params[:id] } %>


<main style="padding-left: 240px">
  <script type="text/javascript">
       $( document ).on('turbolinks:load', function() {
          var data={};
          var doctors = <%= @doctors.html_safe %>;
          //console.log(doctors);
          for (var i=0; i< doctors.length; i++){
              data[(doctors[i]["full_name"])] = doctors[i]["id"];
          };

          $('input.autocomplete').autocomplete({
              data: data,
              limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
              onAutocomplete: function(val) {
                  $('#doctor_id').val(data[(val)]); //append the key here

              },
              minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
          });
      });
  </script>
  <script type="text/javascript">
      $( document ).on('turbolinks:load', function() {
          $('select').material_select();

          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              min: new Date(),
              closeOnSelect: true,
              onSet: function (ele) {
                  if (ele.select) {
                      this.close();
                  }
              }
          });
      });

  </script>
  <script>
   $( document ).on('turbolinks:load', function() {
       $('#timepicker1').pickatime({
           autoclose: false,
           twelvehour: true
       });
       $('#timepicker2').pickatime({
           autoclose: false,
           twelvehour: true
       });
   });
   </script>
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 10000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

  <% end %>

  <% if @time_slot.errors.any? %>
      <div class="error_explanation"  style="border-radius: 0.5em; padding: 1px; padding-left: 50px">
        <p>
          <%= pluralize(@time_slot.errors.count, "error") %> prohibited
          from adding time slot:
        </p>
        <ul>
          <% @time_slot.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="container " style="width: 85%">
    <h4>Add Availability</h4>
    <div class="divider"></div><br>


    <div class="row">

      <div class="col s12" >
        <form class="card z-depth-2" action="/timeslot/add/<%= params[:id]%>" method="post" style="">
          <div class="card-content ">

          <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">textsms</i>
                    <label class="active" for="tags">Doctor</label>
                    <input id="tags" type="text" class="autocomplete" autocomplete="off" required/>
                    <input id="doctor_id" name="doctor_id" type="hidden" required/>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <label class="active" for="date">Date</label>
                <input id="date" value="<% params[:time_slot].present? ? params[:time_slot][:app_date] : nil %>" type="date" name="time_slot[app_date]" class="datepicker" required>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">schedule</i>
                <label class="active" for="timepicker1">From Time</label>
                <input type="time" id="timepicker1"  class="timepicker"  name="time_slot[from_time]" required>

              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">schedule</i>
                <label class="active" for="timepicker2">To Time</label>
                <input type="time" id="timepicker2"  class="timepicker"  name="time_slot[to_time]" required>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">payment</i>
                <label class="active" for="price">Price</label>
                <input type="text" name="time_slot[price]" required>

              </div>
            </div>

            <div class="divider"></div><br>
            <div class="row">

              <div class="col s3">
                <button class="btn waves-effect waves-light" type="Submit">Add Time Slot</button>
              </div>


            </div>





          </div>
        </form>
      </div>

    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
          $('select').material_select();
      });</script>



</main>

