<% if current_user && current_user.doctor? %>
    <%= render partial: 'doctor/sideNav' %>
<% end %>
<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'amber');
              });
          </script>

      <% end %>

  <% end %>
  <% if @visit.errors.any? %>
      <div class="error_explanation" style="padding-left: 50px">
        <p>
          <%= pluralize(@visit.errors.count, "error") %> prohibited
          from updating details:
        </p>
        <ul>
          <% @visit.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="container " style="width: 85%">
    <div class="row">
      <h4>Add new visit</h4>
      <div class="divider"></div>

      <div class="row">

        <div class="col s8">
          <div class="card"><div class="card-content"><div class="row">
        <form action="/visit/add/<%= @doctor.id %>/<%= @patient.id %>" method="post" style="">
          <br/>


            <div class="row">

              <div class="input-field col s12">

                <textarea id="problem" class="materialize-textarea" name="visit[problems_complaints]" required></textarea>
                <label for="problem">Problems and Complaints</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="diagnosis" class="materialize-textarea" name="visit[diagnosis]" required></textarea>
                <label for="diagnosis">Diagnosis</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="drug" class="materialize-textarea" name="visit[drugs]" required></textarea>
                <label for="drug">Prescribed Drugs</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">

                <textarea id="remark" class="materialize-textarea" name="visit[remarks]"></textarea>
                <label for="remark">Remarks</label>
              </div>


            </div>


            <div class="row">
              <br/>
              <div class="left-align col s9">
                <a class="btn waves-effect waves-light" href="/search/patients/<%= @doctor.id %>/<%= @patient.id %>">Back to Profile</a>
              </div>
              <div class="col s3">
                <button class="btn waves-effect waves-light red" type="Submit">Save</button>
              </div>
            </div>

        </form>
        </div>
        </div></div></div>
        <div class="col s4">


        <div id="profile-card" class="card sticky-action z-depth-4">
          <div class="card-image waves-effect waves-block waves-light">
            <br>

            <%= image_tag("Heart_Beat.png", :alt => "user background") %>
          </div>

          <div class="card-content">
            <a class="btn-floating activator btn-move-up waves-effect purple waves-light darken-2 right">
              <i class="material-icons">account_circle</i></a>
            <span class="card-title activator grey-text text-darken-4"><strong><%= @patient.first_name + " " + @patient.last_name %> </strong></span>

            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>


            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>

          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0px);">
            <span class="card-title grey-text text-darken-4"><%= @patient.first_name + " " + @patient.last_name %> <i class="mdi-navigation-close right"></i></span>
            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>
            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>
            <p><i class="material-icons prefix">email</i><%= @patient.email %></p>
            <p><i class="material-icons prefix">phone</i><%= @patient.telephone %></p>

          </div>
        </div>

      </div>


    </div>

    <div id="save" class="modal">
      <div class="modal-content">
        <h4>Add Appointment</h4>
        <p>Are you sure you want to save?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
      </div>
    </div>


  </div>
</main>