<ul id= "slide-out"  class="side-nav fixed" style="width: 240px; margin-top: 63px; padding-bottom: 200px;">
  <li><div class="userView">
    <div class="background">
      <img src="http://www.tba3.net/images/header-bg.jpg">
    </div>
    <div class="circle responsive-img valign profile-image" style="">

        <%= gravatar_for @patient %>

    </div>

    <p><span class="white-text name"><%= @patient.first_name + " " + @patient.last_name %></span></p>
    <p>
      <span class="white-text name"> <%= "Patient" %></span>
    </p>

  </div>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Profile<i class="material-icons">arrow_drop_down</i></a>

        <div class="collapsible-body">
          <ul>
            <li><a class="waves-effect waves-teal" href="/patient/profile/<%= @patient.id %>"><i class="material-icons left">mood</i>My Profile</a></li>
            <li><a class="waves-effect waves-teal" href="/password_change/new"><i class="material-icons left">settings</i>Settings</a></li>
            <li class="bold"><a href="/logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <ul class="bold">
    <li><a class="waves-effect waves-teal" href="/patient/home/<%= @patient.id %>">Home</a></li>
    <li><a class="waves-effect waves-teal" href="/patient/vital/<%= @patient.id %>">My Vitals</a></li>
    <li><a class="waves-effect waves-teal" href="/visits/<%= @patient.id %>">Recent Visits</a></li>
    <li><a class="waves-effect waves-teal" href="/patient/appointments/<%= @patient.id %>">My Appointments</a></li>
    <li><a class="waves-effect waves-teal" href="/appointment/search/<%= @patient.id %>">Add Appointment</a></li>
    <li><a class="waves-effect waves-teal" href="/organ/donor/<%= @patient.id %>">Organ Donations</a></li>
    <li><a class="waves-effect waves-teal" href="/organ/requester/<%= @patient.id %>">Organ Requests</a></li>
  </ul>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>



