<%= render partial: 'staff/sideNav', :locals => { :staff_id => params[:id] } %>

<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'amber');
              });
          </script>

      <% end %>

  <% end %>

  <% if @staff.errors.any? %>
      <div class="error_explanation" style="padding-left: 50px">
        <p>
          <%= pluralize(@staff.errors.count, "error") %> prohibited
          from updating details:
        </p>
        <ul>
          <% @staff.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="container">

    <form  action="/staff/update/<%= @staff.id %>" method="post">
      <input type="hidden" name="_method" value="patch" />


      <h4>Edit Details</h4>
      <div class="divider"></div>
      <br>
      <div class="row">
        <div class="col s1">
          <i class="material-icons prefix">account_circle</i>
        </div>
        <div class="col s11">
          <div class="input-field col s12">
            <input id="full_name" type="text" name="staff[full_name]" value="<%= @staff.full_name %>"  class="validate">
            <label class="active" for="full_name" >Full Name</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s1">
          <i class="material-icons prefix">account_circle</i>
        </div>
        <div class="col s11">
          <div class="input-field col s12 m6 l4">

            <input id="first_name" type="text" name="staff[first_name]" value="<%= @staff.first_name %>" class="validate">
            <label class="active" for="first_name">First Name</label>
          </div>

          <div class="input-field col s12 m6 l4">
            <input id="middle_name" type="text" name="staff[middle_name]" value="<%= @staff.middle_name %>"  class="validate">
            <label class="active" for="middle_name">Middle Name</label>
          </div>

          <div class="input-field col s12 m6 l4">
            <input id="last_name" type="text" name="staff[last_name]" value="<%= @staff.last_name %>" class="validate">
            <label class="active" for="last_name">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s1">
          <i class="material-icons prefix">wc</i>
        </div>
        <div class="col s11">
          <div class="col s12 m4 left aligned">
            <p>Gender</p>
          </div>

          <% if @staff.gender %>
              <div class="col s12 m3 left aligned">
                <input class="with-gap" name="staff[gender]" value="0" type="radio" id="male" "/>
                <label class="active" for="male">Male</label>
              </div>
              <div class="col s12 m4 left aligned">
                <input class="with-gap" name="staff[gender]" value="1" type="radio" id="female" checked="checked"/>
                <label class="active" for="female">Female</label>
              </div>
          <% else %>
              <div class="col s12 m3 left aligned">
                <input class="with-gap" name="staff[gender]" value="0" type="radio" id="male" checked="checked"/>
                <label class="active" for="male">Male</label>
              </div>
              <div class="col s12 m4 left aligned">
                <input class="with-gap" name="staff[gender]" value="1" type="radio" id="female" />
                <label class="active" for="female">Female</label>
              </div>
          <% end %>

        </div>
      </div>

      <div class="row ">
        <div class="col s1">
          <i class="material-icons prefix">phone</i>
        </div>
        <div class="col s11">
          <div class="input-field col s12 l6">
            <input id="telephone" type="tel" name="staff[telephone]" value="<%= @staff.telephone %>" class="validate">
            <label class="active" for="telephone">Telephone</label>
          </div>
        </div>

      </div>

      <div class="divider"></div><br>
      <div class="row">
        <div class="col s6 m3">
          <button class="btn waves-effect waves-light col s12" type="submit" id="submit" >Update</button>
        </div>
      </div>


  </div>
  <script type="text/javascript">
      $(document).ready(function(){
          $('select').material_select();
          $('.datepicker').pickadate(
              {
                  selectYears: 100,
                  selectMonths: true,
                  max: new Date(),
                  closeOnSelect: true,
                  onSet: function (ele) {
                      if (ele.select) {
                          this.close();
                      }
                  }
              });
      });


  </script>
</main>
