
<%= render partial: 'doctors/sideNav', :locals => { :doctor_id => params[:id] } %>


<main style="padding-left: 240px">
<div class="container " style="width: 85%">
  <div class="row">
    <h4>Update Vitals</h4>
    <div class="divider"></div>
    <div class="row">

      <br>
      <div class="col s8" >

        <form class="" action="/vital/update/<%= @patient.id %>" method="post" style="">
          <input type="hidden" name="_method" value="patch" />




          <div class="row">

            <div class="col s6">

              <p for="datetime">Date Modified</p>
            </div>

            <div class="input-field col s6">
              <p id="created_at" name="vital[created_at]" ><%=  @vital.created_at.present? ? @vital.created_at.to_s(:long_ordinal) : "" %></p>

            </div>

          </div>

          <div class="row">

            <div class="col s6">

              <p for="doctor">Edited by</p>
            </div>

            <div class="input-field col s6">
              <%=  @vital.created_at.present? ? ("Dr. "+ @edit_doctor.first_name + " " + @edit_doctor.last_name) : ""  %>

            </div>

          </div>


          <div class="row">

            <div class="col s6">

              <p for="height">Height (cm)</p>
            </div>

            <div class="input-field col s6">
              <input id="height" value="<%= @vital.height %>" name="vital[height]" type="text" name="height" min="10.0" max="272.0">

            </div>

          </div>


          <div class="row">

            <div class="col s6">

              <p class="active" for="weight">Weight (kg)</p>
            </div>

            <div class="input-field col s6">
              <input id="weight" value="<%= @vital.weight %>" type="text" name="vital[weight]" min="0.0" max="250.0">

            </div>
          </div>

          <div class="row">

            <div class="col s6">

              <p class="active" for="bmi">BMI</p>
            </div>

            <div class="input-field col s6">
              <input id="bmi" value=" <%= @vital.created_at.present? ? '%.2f' % (@vital.weight/(@vital.height/100)) : " " %>" readonly="" type="text" name="vital[bmi]"">

            </div>

          </div>


          <div class="row">

            <div class="col s6">

              <p for="blood">Blood Group</p>
            </div>

            <div class="input-field col s6">
              <select name="vital[blood_group]">
                <option value="<%= @vital.blood_group.present? ?  @vital.blood_group.to_i : nil %>">
                  <%= @vital.blood_group.present? ? @blood_groups.index(@vital.blood_group.to_i) : "Select your option"  %></option>
                <% @blood_groups.each do |key, value| %>

                    <option value="<%=  value.to_i %>"><%= key %></option>
                <% end %>
              </select>

            </div>
          </div>




          <div class="row">

            <div class="col s6">

              <p class="active" for="temp">Temperature (C)</p>
            </div>

            <div class="input-field col s6">
              <input class="active" id="temp" value="<%= @vital.temp %>" type="text" name="vital[temp]" min="25.0" max="43.0">

            </div>

          </div>

          <div class="row">

            <div class="col s6">

              <p class="active" for="pulse">Pulse (/min)</p>
            </div>

            <div class="input-field col s6">
              <input class="active" id="pulse" value="<%= @vital.pulse %>" type="text" name="vital[pulse]" min="0.0" max="230.0">

            </div>

          </div>

          <div class="row">

            <div class="input-field col s6">

              <p class="active" for="res_rate">Respiratory rate (/min)</p>
            </div>

            <div class="input-field col s6">
              <input class="active" id="res_rate" value="<%= @vital.res_rate %>" type="text" name="vital[res_rate]" min="0.0" max="999.0">

            </div>

          </div>

          <div class="row">

            <div class="input-field col s6">

              <p class="active" for="bld_pressure">Blood Pressure (/min)</p>
            </div>

            <div class="input-field col s6">
              <input class="active" id="bld_pressure" value="<%= @vital.bld_pressure %>" type="text" name="vital[bld_pressure]" min="50.0" max="250.0">

            </div>

          </div>








          <div class="row">
            <div class="col s3">
              <button class="btn waves-effect waves-light" type="Submit">Save</button>
            </div>
            <div class="col s3">
              <a class="btn waves-effect waves-light" href="/vital/<%= @patient.id %>">Back</a>

            </div>
          </div>

        </form>
      </div>
      <% if current_user && current_user.doctor? %>
      <div class="col s4">


        <div id="profile-card" class="card sticky z-depth-4" style="">
          <div class="card-image waves-effect waves-block waves-light">
            <br>

            <%= image_tag("Heart_Beat.png", :alt => "user background") %>
          </div>

          <div class="card-content">
            <a class="btn-floating halfway-fab waves-effect waves-light orange activator card-profile-image">
              <i class="material-icons">account_circle</i></a>
            <span class="card-title activator grey-text text-darken-4"><strong><%= @patient.first_name + " " + @patient.last_name %> </strong></span>

            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>


            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>

          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0px);">
            <span class="card-title grey-text text-darken-4"><%= @patient.first_name + " " + @patient.last_name %> <i class="mdi-navigation-close right"></i></span>
            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>
            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>
            <p><i class="material-icons prefix">email</i><%= @patient.email %></p>
            <p><i class="material-icons prefix">phone</i><%= @patient.telephone %></p>

          </div>
        </div>

      </div>
      <% end %>
    </div>

    <div id="save" class="modal">
      <div class="modal-content">
        <h4>Add Appointment</h4>
        <p>Are you sure you want to save?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('select').material_select();
    });
</script>

</main>