<ul id= "slide-out"  class="side-nav fixed" style="width:250px; margin-top:64px;">
  <li><div class="userView">
    <div class="background">
      <img src="http://www.tba3.net/images/header-bg.jpg">
    </div>
    <div class="circle responsive-img valign profile-image" style="">
      <img style="height:80px; width:80px;"
    <%= image_tag("doctor.png", :alt => "rss feed") %>
    </div>

    <p><span class="white-text name"><%= @doctor_type.speciality %></span></p>
    <p>
     <span class="white-text name"> <%= "Dr. " + @doctor.first_name + " " + @doctor.last_name %></span>
    </p>
    <p></p>
  </div>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Profile<i class="material-icons">arrow_drop_down</i></a>

        <div class="collapsible-body">
          <ul>
            <li class="bold"><a class="waves-effect waves-teal" href="/doctor/profile/<%= @doctor.id %>"><i class="material-icons left">mood</i>My Profile</a></li>
            <li class="bold"><a href="/logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
<ul class="bold">
  <li><a class="waves-effect waves-teal" href="/doctor/home/<%= @doctor.id %>">Home</a></li>
  <li><a class="waves-effect waves-teal" href="/view/appointments">My Appointments</a></li>
  <li><a class="waves-effect waves-teal" href="/search/patients">View  Patients</a></li>
  <li><a class="waves-effect waves-teal" href="/doctor/organ/donor/<%= @doctor.id %>">Organ Donors</a></li>
  <li><a class="waves-effect waves-teal" href="/doctor/requester/donor/<%= @doctor.id %>">Organ Requesters</a></li>
</ul>
</ul>


<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
