
<%= render partial: 'admin/sideNav' %>
<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>


    <br/>
    <h5 class="center-align">Welcome to Admin Dashboard </h5>
    <br/>

  <div class="row">
    <div class="col s3" >
    <div class="card green darken-2">
      <div class="card-content white-text center-align">
        <p class="card-stats-title"><i class="material-icons">group_add</i>&nbsp;&nbsp;<strong>Total New Users</strong></p>
        <p class="card-stats-compare"><i class="material-icons">expand_less</i><%= @new_users %>% from last month
        </p>
      </div>
    </div>
    </div>

    <div class="col s3">
      <div class="card blue darken-2">
      <div class="card-content white-text center-align">
        <p class="card-stats-title"><i class="material-icons">group_add</i>&nbsp;&nbsp;<strong>Registered Patients</strong></p>
        <p class="card-stats-compare"><i class="material-icons">expand_less</i><%= @new_patients %><span class="green-text text-lighten-5">% from last month</span>
        </p>
      </div>
      </div>
    </div>

    <div class="col s3" >
      <div class="card grey darken-2">
      <div class="card-content white-text center-align">
        <p class="card-stats-title"><i class="material-icons">schedule</i>&nbsp;&nbsp;<strong>New Time Slots</strong></p>
        <p class="card-stats-compare"><i class="material-icons">expand_less</i><%= @new_timeslots %><span class="green-text text-lighten-5">% from last month</span>
        </p>
      </div>
      </div>
    </div>

    <div class="col s3" >
      <div class="card pink darken-2">
        <div class="card-content white-text center-align">
          <p class="card-stats-title"><i class="material-icons">notifications</i>&nbsp;&nbsp;<strong>New Appointments</strong></p>
          <p class="card-stats-compare"><i class="material-icons">expand_less</i><%= @new_apps %><span class="green-text text-lighten-5">% from last month</span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <%= render partial: 'admin/app_total_summary'  %>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <%= render partial: 'admin/time_slot_summary' %>
      </div>
    </div>

  </div>


</main>