<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:100px">
  <ul id= "nav-mobile"  >

    <div class="row">
      <div class="col col s4 m4 l4">
        <img class="circle responsive-img valign profile-image"
        <%= image_tag("doctor.png", :alt => "rss feed") %>

      </div>
      <div class="col col s8 m8 l8">
       <p><%= "Dr. " + @doctor.first_name + " " + @doctor.last_name %></p>

        <p><%= @doctor_type.speciality %></p>

      </div>
      <br/>
    </div>

    <li class="bold active"><a class="waves-effect waves-teal" href="/doctor/home/<%= @doctor.id %>">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="/doctor/profile/<%= @doctor.id %>">My Profile</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="/view/appointments">My Appointments</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="/search/patients">View  Patients</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Organ Donors</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="/">Organ Requesters</a></li>

  </ul>
</div>