<%= render partial: 'doctor/sideNav'%>

<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 10000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

  <% end %>
  <div class="container " style="width: 85%">


    <div class="row">
      <br/>
      <br/>
      <div class="col s12 m8">
        <div class="card">
          <% if @from_date != nil %>
          <div class="card-image waves-effect waves-block waves-light">
            <%= render partial: 'patient/vitals_summary' %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Vital Summary<i class="material-icons right">more_vert</i></span>

          </div>


          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Vital Summary in reverse chronological order <i class="material-icons right">close</i></span>
            <p><%= @from_date.to_date.to_s(:long_ordinal) %> to  <%= @to_date.to_date.to_s(:long_ordinal) %></p>
            <table>
              <thead>
              <th>Record</th>
              <th>Temperature</th>
              <th>Blood Pressure</th>
              <th>Pulse</th>
              <th>Respiratory Rate</th>
              </thead>


              <tbody>
              <% if defined? @array %>
                  <% if @array.blank? == false %>

                      <% @array.each do |d| %>
                          <tr>
                            <td> <%= d[0] %> </td>
                            <td> <%= d[1] %> </td>
                            <td> <%= d[2] %> </td>
                            <td> <%= d[3] %> </td>
                            <td> <%= d[4] %> </td>
                          </tr>
                      <% end %>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col s4">


        <div id="profile-card" class="card sticky z-depth-1" style="height: 286px; ">
          <div class="card-image waves-effect waves-block waves-light">
            <br>

            <%= image_tag("old Heart_Beat.png", :alt => "user background") %>
          </div>

          <div class="card-content">
            <a class="btn-floating activator btn-move-up waves-effect purple waves-light darken-2 right">
              <i class="material-icons">account_circle</i></a>
            <span class="card-title activator grey-text text-darken-4"><strong><%= @patient.first_name + " " + @patient.last_name %> </strong></span>

            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>


            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>

          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0px);">
            <span class="card-title grey-text text-darken-4"><%= @patient.first_name + " " + @patient.last_name %> <i class="mdi-navigation-close right"></i></span>
            <p><i class="material-icons prefix">wc</i><%=  @patient.gender? ? "Female" : "Male" %></p>
            <p><i class="material-icons prefix">cake</i><%= @age %> year(s)</p>
            <p><i class="material-icons prefix">email</i><%= @patient.email %></p>
            <p><i class="material-icons prefix">phone</i><%= @patient.telephone %></p>

          </div>
        </div>

      </div>
    </div>



    <div class="row">
      <br/>
      <br/>
      <div class="col s3">
        <a class="btn waves-effect pink darken-4 waves-light" href="/vital/<%= @doctor.id %>/<%= @patient.id %>">View Vitals</a>

      </div>
      <div class="col s3">
        <a class="btn waves-effect pink waves-light" href="/vital/edit/<%= @doctor.id %>/<%= @patient.id %>">Update Vital</a>

      </div>
      <div class="col s3">
        <a class="btn waves-effect green darken-4 waves-light" href="/visit/<%= @doctor.id %>/<%= @patient.id %>">View Visits</a>

      </div>
      <div class="col s3">
        <a class="btn waves-effect green waves-light" href="/visit/new/<%= @doctor.id %>/<%= @patient.id %>">Add New visit</a>

      </div>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="divider"></div>

<br/>

    <div class="row">
      <div class="col s6">
        <a class="btn waves-effect waves-light" href="<%= url_for(:back) %>">Back</a>
      </div>
    </div>
    </div>




  </div>
</main>