
<script type="text/javascript">
    $(document).ready(function(){

        $('select').material_select();
        $('select').material_select('update');
        $('.modal').modal();

        $('.datepicker').pickadate({

            selectMonths: true, // Creates a dropdown to control month
            selectYears: 1, // Creates a dropdown of 15 years to control year



            closeOnSelect: true,
            closeOnClear: true
        });

        $('.sticky').pushpin({
            top: 50,
            bottom: 1500,
            offset: 0,

        });
    });

</script>

<script type="text/javascript">
    $('#submit').click(function(){
      /* when the submit button in the modal is clicked, submit the form */
        $('#formRegister').submit();
    });
</script>




<%= render partial: 'patient/sideNav', :locals => { :patient_id => params[:id] } %>

<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'amber');
              });
          </script>

      <% end %>

  <% end %>

  <div class="container">


    <h4>Request Status</h4>
    <div class="divider"></div>
    <div class="row">
      <br>

      <% if defined? @organ %>
          <% if @organ.blank? == false %>
              <table class="bordered highlight responsive-table" >
                <thead>
                <tr>
                  <th data-field="id">Name</th>
                  <th  style="text-align:center">Status</th>
                  <th  style="text-align:center">Approved Doctor</th>


                </tr>
                </thead>

                <tbody>
                <% @organ.each do |d| %>
                    <tr>
                      <td><%= d[0] %></td>
                      <% if d[1] == 0 %>
                          <td style="text-align:center"><p style=" "><%= "Pending" %></p></td>
                      <% elsif d[1] == 1 %>
                          <td style="text-align:center"><p style="color:green"> <%= "Accepted" %></p></td>
                      <% elsif d[1] == 2 %>
                          <td style="text-align:center"> <p style="color:red"><%= "Rejected" %></p></td>
                      <% end %>
                      <% if d[2].blank? %>
                          <td style="text-align:center"><%= "     -     " %></td>
                      <% else %>
                          <td style="text-align:center"> <%= d[2].to_s + " " + d[3].to_s %></td>
                      <% end %>
                    </tr>

                <% end %>
                </tbody>
              </table>
          <% end %>
      <% end %>



        <div class="row" style=" margin-top: 2cm;">
          <div class="col s6">
            <a class="btn waves-effect waves-light" href="/organ/requester/register/<%= @patient.id %>">Request Organ</a>
          </div>
        </div>
    </div>




  </div>
  </div>
</main>

