<%= render partial: 'staff/sideNav', :locals => { :staff_id => params[:id] } %>

<script type="text/javascript">

    $(document).ready(function() {
        $('#calendar').fullCalendar({
        });
    });
</script>


<main style="padding-left: 240px">
  <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'green');
              });
          </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 5000,'amber');
              });
          </script>

      <% end %>

  <% end %>
  <div class="container">

    <br/><br/><br/>

    <div id="calendar"></div>

    <br/><br/>


    <%= month_calendar events: @events do |day| %>
        <%= day %>
    <% end %>
  </div>
</main>