<!DOCTYPE html>
<html>
  <head>
    <style>
      .error_explanation {
        background-color: #f44336 ;
        padding: 0px 0px 1px 0px;
      }

      .alert {
        height: 60px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        padding: 12px 25px 12px 24px;
        -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
        -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
        box-shadow: 3px 3px 1px 1px #CCCCCC;
      }

      .alert-error {
        background-color: #f44336 ;
      }

      .alert-success {
        background-color: #4caf50 ;
      }

      .alert-notice {
        background-color: #666666  ;
      }

    </style>
    <script type="text/javascript">
        $(document).ready(function(){
          $('select').material_select();

            $('.datepicker').pickadate({

                closeOnSelect: true,
                onSet: function (ele) {
                    if (ele.select) {
                        this.close();
                    }
                }
            });

            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
        });


    </script>
    <title>HeartBeat</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

  <body>
  <header>

    <div class="navbar-fixed">
      <nav class="white-text">

        <div class="nav-wrapper white-text" style="font-family: Trajan Pro">
          <ul class="left " style="height: 80px; width: 170px; padding-top: 5px">
            <img class="responsive-img"
                 <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>

          </ul>

          <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
          <ul class="right hide-on-med-and-down">
            <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
            <% if current_user %>
            <li class="active"><a href="/logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>
            <% else %>
                <li class="active"><a href="/signup/patient"><i class="material-icons left">power_settings_new</i>Sign Up</a></li>
                <li class="active"><a href="/login"><i class="material-icons left">account_circle</i>Sign In</a></li>
          <% end %>

          </ul>
        </div>
      </nav>

    </div>

  </header>

<main>
    <%= yield %>

</main>

  </body>
</html>
